
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input id="Text1" type="text" placeholder="Nome" />
<input id="Text2" type="text" placeholder="Sobrenome"/>
<input id="Text3" type="text" placeholder="Email"/>